<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
</head>
<body background-color="pink">
    <h1 size="35" color="pink">My aplication in flask library</h1>
    <h2 size="12" color="light-pink" font="Time New Roman">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit beatae ratione ducimus in iure aliquid tempore repellendus, nemo laborum harum fugit eveniet consequuntur ut commodi minima expedita culpa nam? Quisquam!
    Eligendi nobis sapiente quibusdam tenetur minus eaque vel vero exercitationem saepe incidunt quidem earum ullam blanditiis ducimus vitae placeat deserunt dicta optio maxime, illo tempore reiciendis at. Deleniti, explicabo iste.
    Inventore, quos vel. Delectus, ducimus placeat? Ea placeat excepturi asperiores, voluptatem cum maiores ex nobis saepe esse voluptates magnam veniam, quis labore et, expedita facilis modi impedit consequatur beatae. Saepe!
    Necessitatibus magnam ipsa dolorem dignissimos, enim, unde delectus natus sed iure similique animi, repellat est dolores minus officia? Quam fugit illo tenetur beatae quae blanditiis maiores ad officiis nobis placeat!
    Dolor voluptas rem iure voluptate error quis explicabo totam architecto quasi necessitatibus. Laudantium aliquam dolorum quam nesciunt ipsum aut aperiam commodi excepturi id nisi, hic non ratione, sint accusantium inventore?
    </h2>
</body>
</html>